<!DOCTYPE html>
<html>
  <head>
      <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
      <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
</head>

<body>
  <div>

  <div>

<p>TransAdvisor was created for trans people by a collaboration of trans people and trans allies who have an interest in building software solutions to make trans people’s lives easier. It came into being at Trans*Code, in March 2015. </p>


<p>TransAdvisor is designed to help people who fall under the trans umbrella make choices about the healthcare providers they access by providing reviews of how trans-friendly a healthcare provider or institution is, according to trans people who have accessed that service. Trans people can then find out how trans-friendly their local health services are before they visit, and potentially switch healthcare providers based on reviews of both individuals and institutions.</p>
</div>
</div>
</body>

</html>
