<!DOCTYPE html>
<html>
  <head>
      <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
      <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
</head>

<body>

  <h1>Guides</h1>
  <div>
  <div>
<h2>Things to think about when writing your review of Individual:</h2>
<p>When you are writing a about a person try to be respectful, however some people are more respectful than others so it is understandable if you just want to advise people to stay away.  Good things to include would be how did they treat you, how they referred to you, and what sort of action they took/advised.</p>


<h2>Things to think about when writing your review of the Institution:</h2>
<p>When you are writing about an Institution, if the experience was less than ideal, try and think about what you would have wanted.  Good things to include would be where the reception staff respectful ? Did they make the effort to listen to you & understand. Did they call out (correct) names & pronouns in the waiting room or was it anonymised eg with ticket numbers? How was the accessibility of the location? Were you asked questions which seemed irrelevant to your visit & were inappropriate or overly personal ?</p>

<p>You may not want to talk about general problems such as long waiting times or location that are already covered by more general reviews medical reports.</p>

<h2>What the words mean:</h2>
<h3>Health Institution</h3>
<p>This is any location that administers health care or health advice that you would want to know more information about before visiting or deciding if you should visit.</p>

<h3>Health care professional</h3>
<p>These are any of the people that you may come across during your interactions with -ealth services, examples would include by are not limited to:
<li>GP</li>
<li>Surgeon</li>
<li>Consultant</li>
<li>Psychotherapist</li>
<li>Psychiatrists</li>
<li>Speech therapist</li>

<h3>Trans</h3>
<p>Anyone who identifies as trans or falling under the trans umbrella, including men and women who identity differently to the gender they were assigned at birth, genderqueer, genderfluid and gender-neutral/non-binary people, intersex people and anyone else who does not identify as cisgender.</p>

<p>Cisgender = individuals who identify with the gender they were assigned at birth. If you identify as cisgender, please recommend this website to your trans friends. </p>

These gender definitions are not perfect, exhaustive or set in stone.

<h2>Advice about accessing health care</h2>
<p>Information to people about how to access healthcare and what to expect.</p>

<p>Accessing health care if your gender identity or presentation does not align with what your doctor might expect can be anything from needlessly uncomfortable to downright impossible. </p>

<p>Doctors and other healthcare providers will not necessarily have training specifically for or know protocols gender identity issues.  Before approaching a doctor to access such services it is advisable to be clear about what you want to happen, what you want your doctor to do for you and to know what the protocols are for accessing the services that you want as you will probably need to explain the protocols to your GP.</p>

<p>A good starting point to find about accessing NHS services is here:-</p>
<a href="http://www.nhs.uk/Livewell/Transhealth/Pages/Transhealthhome.aspx">http://www.nhs.uk/Livewell/Transhealth/Pages/Transhealthhome.aspx</a>


<p>Other helpful resources related to accessing healthcare as a transperson:</p>
<a href="http://www.nhs.uk/Livewell/Transhealth/Pages/Transhealthhome.aspx">http://www.nhs.uk/Livewell/Transhealth/Pages/Transhealthhome.aspx</a>
<a href="http://genderedintelligence.co.uk/trans-community/resources">http://genderedintelligence.co.uk/trans-community/resources</a>
<a href= "http://genderedintelligence.co.uk/trans-community/resources">http://genderedintelligence.co.uk/trans-community/resources</a>
<a href= "http://cliniq.org.uk/">http://cliniq.org.uk/</a>

</div>
</div>
</body>

</html>
